<header>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="#">
                <h3>Sistema de Passagens de Ônibus</h3>
            </a>
        </li>
        <div class="container-logout">
            <li class="nav-item">
                <a href="/funcionario" class="nav-link btn btn-dark">Voltar</a>
            </li>   
        </div>
    </ul>
</header>

<div class="menu-buscar container">
    <form class="form-inline" action="/buscarFuncionario" method="POST">
        <div class="form-group">
            <select class="form-control selectBusca" name="tipoBusca">
                {{!-- <option value="cpf">CPF</option> --}}
                <option value="nome">Nome</option>
            </select>
            <input class="form-control" name="valorBusca" type="text" step="0.01" autocomplete="off">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </div>
    </form>
</div>

<div class="tab-content container" id="nav-tabContent">
    <div class="tab-pane fade show active container" id="nav-items" role="tabpanel" aria-labelledby="nav-items-tab">
        <div class="container">
            <div class="card tabela">
                <div class="card-header">
                    <h3 class="card-title">Tabela Funcionarios</h3>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>CPF</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Data de Nascimento</th>
                            <th>Login</th>
                            <th>Senha</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each rows}}
                        <tr identificador={{cpf}}>
                            <td class="rowData" contenteditable="false">{{cpf}}</td>
                            <td class="rowData" contenteditable="false">{{nome}}</td>
                            <td class="rowData" contenteditable="false">{{email}}</td>
                            <td class="rowData" contenteditable="false">{{datanasc}}</td>
                            <td class="rowData" contenteditable="false">{{login}}</td>
                            <td class="rowData" contenteditable="false">{{senha}}</td>
                            <td id="actions">
                                <a class="add" title="Add" data-toggle="tooltip"><i
                                        class="material-icons">&#xE03B;</i></a>
                                <a class="edit" title="Edit" data-toggle="tooltip"><i
                                        class="material-icons">&#xE254;</i></a>
                                <a class="delete" title="Delete" data-toggle="tooltip"><i
                                        class="material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>